@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');
/* font-family: 'Inter', sans-serif;
font-family: 'Lexend Deca', sans-serif; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Inter', sans-serif;
    background-color: hsl(233, 47%, 7%);
    font-size: 15px;
}

.stats-card{
    background-color: hsl(244, 38%, 16%);
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(370px,1fr));
    margin: 10em auto;
    margin-bottom: 0;
    max-width: 1200px;
}

.stats-card--desc{
    padding: 4em;
}

.stats-card--desc--title{
    color: hsl(0, 0%, 100%);
    font-size: 2rem;
    margin-bottom: 1em;
}

.stats-card--title--dark{
    color: hsl(277, 64%, 61%);
}

.stats-card--desc--info{
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 1rem;
    margin-bottom: 2.5em;
}

.stats-card--stat{
    display: inline-block;
    padding: 0.2em 2em 0.5em 0em;
}

.stats-card--stat h2{
    color: hsl(0, 0%, 100%);
}

.stats-card--stat p{
    color: hsla(0, 0%, 100%, 0.6);
    text-transform: uppercase;
    padding-top: 0.2em;
    font-size: 0.9rem;
}

.stats-card--image{
    background: hsl(277, 64%, 61%);
    background: linear-gradient(rgba(170,92,219,0.4), rgba(170, 92, 219, 0.4)), url("./images/image-header-desktop.jpg"); 
    background-repeat: no-repeat;
    background-size: cover;
}

.stats-image{
    background: hsl(277, 64%, 61%);
}

@media screen and (max-width: 375px){
    .stats-card{
        /* justify-content: end; */
        /* grid-template-columns: repeat(auto-fit,minmax(375px,1fr));
        grid-template-rows: repeat(2,1fr); */
    }

    /* .stats-card--image{
        background: hsl(277, 64%, 61%);
        background: linear-gradient(rgba(170,92,219,0.4), rgba(170, 92, 219, 0.4)), url("./images/image-header-mobile.jpg"); 
        background-repeat: no-repeat;
        background-size: 100%;
    } */

    .stats-card--stat{
        display: block;
        padding: 0.2em 2em 0.5em 0em;
        text-align: center;
    }
    
}